* {
  box-sizing: border-box;
}

.hero {
  display: flex;
  background-color: $gradientStartColor, $gradientEndColor;
  height: $heroHeight;

  .callout {
    display: block;
    font-family: $primary-font;
    text-align: center;
  }

  button {
    background-color: $btnColor;
    border: 2px solid #000;
    color: $textColor;
    cursor: pointer;
    font-family: $primary-font;
    font-size: 1rem;
    text-transform: uppercase;
    height: 43px;
    text-align: center;
    float: right;
    text-decoration: none;

    &:hover {
      color: #171e29;
    }

    &:focus {
      color: #171e29;
    }

    &:active {
      color: #e05555;
    }
  }
}

.cards {
  display: flex;
  justify-content: space-around;
  margin: 8rem;
  .basic,
  .premium,
  .expert {
    border: 3px solid #5f9dea;
    border-radius: 10px;
    padding: 20px;
    background-color: #c1daf7;
    .price {
      background-color: $backgroundColor;
      text-align: center;
    }
  }
}

main {
  display: grid;
  grid-template-areas:
    "offs offs"
    "sale refs";
  gap: 1rem;
  margin: 6rem;

  section {
    padding: 20px;
    .fa-solid {
      color: $whiteColor;
      float: right;
      font-size: 5rem;
    }
  }
  .offers {
    grid-area: offs;
    background-color: #9797f7;
    width: 100%;
  }
  .sales {
    grid-area: sale;
    background-color: #a8a8ba;
  }
  .references {
    grid-area: refs;
    background-color: #6867ab;
  }
}
