/* Variables */

/* Assorted */
$max-size: 1300px;
$primary-font: "Noto Sans", sans-serif;
$header-font: "Playpen Sans", sans-serif;
$footerHeight: 300px;
$heroHeight: 290px;

/* Colors */
$whiteColor: #fff;
$blackColor: #1a1a1a;
$linkColor: #8ab9e9;
$linkHoverColor: #173782;
$bgColorFooter: #404040;
$txtColorFooter: #ffffff;

$buttonColor: #f9b215;
$buttonColorHover: #173782;
$buttonBorder: #000;
$headingSmallColor: #f8af16;

$gradientStartColor: rgb(193, 218, 247);
$gradientEndColor: rgb(59, 118, 194);

/* Textstorlekar */
$size-text-superbig: 5rem;
$normalText: 1rem;
$smallText: 14px;

/* Heading-sizes */
$bigHeading: 2rem;
$normalHeading: 1.5rem;
$smallHeading: 1rem;

/* Spacing */
$smallSpacing: 1rem;
$spacing-middle: 2rem;
$bigSpacing: 3rem;

/* Sizes */
$size100: 100px;
